<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw-gmgvr_rkh7TVxv6v8Z3tGMk-aKSaS4</string>
	<key>GCM_SENDER_ID</key>
	<string>643877734928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keyGenApp</string>
	<key>PROJECT_ID</key>
	<string>prova-flutter-gdp</string>
	<key>STORAGE_BUCKET</key>
	<string>prova-flutter-gdp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643877734928:ios:6c1fee1d021fa606405895</string>
</dict>
</plist>